/*!
  引数、変数、フォント、ボタンに関するcss
*/


/*!---------------------------------
    引数 
---------------------------------*/

/*メディアクエリ */
$sp-s: 330px;
$sp: 800px;
$pc: 801px;
$lg: 992px;
$mini-pc: 1300px;
$av: 1400px;
$xl: 1600px;

@mixin sp-s {
  @media (max-width: ($sp-s)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

@mixin lg {
  @media (min-width: ($lg)) {
    @content;
  }
}

@mixin mini-pc {
  @media (max-width: ($mini-pc)) {
    @content;
  }
}

@mixin av {
  @media (max-width: ($av)) {
    @content;
  }
}

@mixin xl {
  @media (min-width: ($xl)) {
    @content;
  }
}


/*!
  変数
  variables
*/
$base-green: #31a6a2;
$base-yellow: #fffaec;


/*!
  フォント
  fonts
*/

/*!
  ボタン
  button
*/


/*!
  共通
*/

/*! 電話
====================================================*/
@media (min-width: 751px) {
  a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
  }
}

/*! pc sp
====================================================*/

#pc {
  display: block;

  @include sp {
    display: none;
  }
}

#pc-df {
  display: flex;

  @include sp {
    display: none;
  }
}


#sp {
  display: none;

  @include sp {
    display: block;
  }
}

#sp-dg {
  display: none;

  @include sp {
    display: grid;
  }
}

#sp-df {
  display: none;

  @include sp {
    display: flex;
  }
}

#sp-dib {
  display: none;

  @include sp {
    display: inline-block;
  }
}