/*!---------------------------------
    sub-header
---------------------------------*/
.sub-header {
  text-align: center;
  & h1{
    margin: calc((118 / 1920)*100vw) 0;
  }
}


/*!---------------------------------
    基本コンテントエリア
---------------------------------*/
.sub-content-area {
  background: #fff;
  &-img-L{
    margin-bottom: calc((60 / 1920)*100vw);
  }
}


/*!---------------------------------
    コンテント幅
---------------------------------*/
.inner {
  padding: 0 calc((((1920 - 1640) / 1920)/2)*100vw);

}

.sub-inner {
  padding: calc((120 / 1920)*100vw) calc((((1920 - 1430) / 1920)/2)*100vw);
}


/*!---------------------------------
    半分ずつレイアウト
---------------------------------*/
.content-half {
  display: flex;

  &-item {
    width: 50%;
  }
}